.section-botton-right{
	height:100%;
}
.heightFixed{
	height:440px;
}
.buttonMarginSize{
	padding:10px 0;
}
.dlClass{
	width:220px;
	height:370px;
	font-size:15px;
	float:left;
	padding:10px;
	margin:0 0 20px 0;
}
.dlClass>dd>p{
	margin:0;
	padding:0;
	overflow: hidden;
	height: 36px;
	line-height: 36px;
}
.dtClass{
	width:100px;
	height:140px;
}
.imgClass{
	width:100px;
	height:140px;
	cursor: pointer;
	width:100px;
}

.findClass{
	margin:2px 0 20px 30px;
	border:2px solid #BEC4CD;
	display:inline-block;
	height: 37px;
	width:275px;
	text-align: center;
	border-radius: 20px;
	padding:3px 0 3px 0;
}
.findClass select{
	border-left-width:0;
	border-top-width:0;
	border-bottom:2px solid #fff;
	border-right:1px solid #fff;
	color:#757575;
	font-size:15px;
	vertical-align:middle;
	margin-bottom:1px;
	height:21px;
	line-height:21px;;
    -webkit-appearance:none;
	padding-right:7px;
	background-color:#fff;
}
.findClass select::-ms-expand { 
	display: none;
}
.findClass input{
	font-size:15px;
	width:180px;
	height:28px;
	border-bottom:2px solid #fff;
	border-left:1px solid #fff;
	border-top-width:0;
	border-right:1px solid #fff;
	vertical-align: middle;
}
.findClass input:focus{
	outline: none;
}
.findClass img{
	padding-left:4px;
	vertical-align: middle;
	width:28px;
	height:21px;
	cursor: pointer;
	border-left:2px solid #fff;
}

#nullImgDiv{
	width:100%;
	height: 100%;
	text-align: center;
}
#nullImg{
	width:250px;
	height: 200px;
	margin-top:80px;
	margin-bottom:50px;
}
#pageSizeAndpageNum{
	margin:0 0 10px;
}
#pageSizeAndpageNum ul{
	text-align:center;
}
#pageSizeAndpageNum ul li{
	display:inline-block;
	height:28px;
	line-height:26px;
	border-radius:4px;
	font-size:14px;
	margin:0 3px;
}
.ulNotClick{
	border:1px solid #CDCDCD;
	color:#000;
	background-color:#fff;
	cursor: pointer;
	padding:0 10px;
}
.ulNotClick:hover{
	border:1px solid #3399FE;
}
.ulClick{
	border:1px solid #3399FE;
	color:#fff;
	background-color:#3399FE;
	padding:0 10px;
	cursor: default;
}
.ulClick:hover{
	border:1px solid #3399FE;
}
.ulreadlyClick{
	cursor: default;
	padding:0;
}
#pageSizeAndpageNum{
	clear: both;
}

.noticejs-content{
	font-size:16px;
}
.noticejs-body{
	height:50px;
	line-height: 30px;	
}