.ulClass li a{
	font-size:16px;
}
.address{
	padding-top:15px;
}

.header,.cntrolFormat{
	width:100%;
}
.headerFormat{
	height:50px;
}
#log>.seach{
	width:1000px;
	margin:0 auto;
	padding:40px 0;
	text-align: center;
}
.seach>span{
	color:#5BC0DE;
	width:200px;
	display:inline-block;
}
.seach>span>label{
	font-weight: normal;
	font-size: 29px;
	font-weight: normal;
	font-family: Microsoft YaHei UI;
}
.seach>span>span{
	font-size:18px;
	margin:0 2px;
	font-weight: normal;
	font-family: Microsoft YaHei UI;
}
.seach>span>em{
	font-weight: normal;
	font-style:italic;
	font-size:20px;
	font-family: Microsoft YaHei UI;
}
.seach>span>span:last-of-type{
	border-left:2px solid #5BC0DE;
	font-size: 22px;
	padding-left:10px;
	margin-left:10px;
	
}
.seach>input{
	width:300px;
	height: 50px;
	border:2px solid #CCD0D7;
	border-radius: 5px;
	font-size: 20px;
	padding-left: 10px;
}
.seachButton{
	font-size: 20px;
	height: 50px;
	margin-left:10px;
	vertical-align: top;
}

.section{
	width:1000px;
	margin:0 auto;
}
.section>h3{
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom:2px solid #CCD0D7;
	height: 40px;
	line-height: 40px;
}
.section>h3>span{
	display:inline-block;
	border-bottom: 2px solid #5BC0DE;
	color:#5BC0DE;
	padding-bottom: 10px;
	height: 40px;
	line-height: 40px;
}
.section>p{
	padding:10px 0;
}
.section>p>label{
	padding:5px 10px;
	margin-left: 5px;
	font-size: 16px;
	vertical-align: top;
}
.section>p>span{
	display: inline-block;
	width:900px;
	line-height: 30px;
}
.section>p>span>a{
	font-size: 16px;
	color:#000;
	padding:0 10px;
	margin-left: 8px;
	border-radius: 5px;
	text-decoration: none;
	border-color:transparent;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	margin-bottom: 8px;
}
.section>p>span>a:hover{
	border:1px solid #00A1D6;
}
.section>p>span>.clickA{
	background-color:#00A1D6;
	color:#fff;
	cursor: default;
}
.sectionInfo{
	border-top:2px solid #E5E9EF;
}

.InfoClass li{
	border:1px solid #D6D6D6;
	height:207px;
	padding:10px;
	box-shadow: 0px 0px 10px #D6D6D6;
	margin:20px 0;
}
.InfoClass li div{
	float:left;
}
.InfoClass li>div:last-of-type{
	margin-left:20px;
	width:820px;
}
.InfoClass li div>a{
	border-radius: 10px;
	display: inline-block;
	height:185px;
	overflow: hidden;
	border:2px solid #fff;
	transition:all 0.5s;
}
.InfoClass li div>a:hover{
	border:2px solid #00A2E8;
}
.InfoClass li a img{
	width:130px;
	height:185px;
}
.InfoClass li div h2{
	padding:0;
	margin:0;
}
.InfoClass li div h2>a{
	color:#333;
	text-decoration: none;
}
.InfoClass li div h2>a:hover{
	color:#00A2E8;
}
.InfoClass li div p{
	color:#777;
	font-size:13px;
	line-height: 20px;
	margin:10px 0;
}

.InfoClass .nullImg{
	border:0px solid #D6D6D6;
	height: 300px;
	line-height: 200px;
	text-align: center;
	width:100%;
	box-shadow: 0px 0px 0 #fff;
	margin-top:80px;
	margin-bottom:50px;
}
#pageSizeAndpageNum{
	margin:20px 0;
}
#pageSizeAndpageNum ul{
	text-align:center;
}
#pageSizeAndpageNum ul li{
	display:inline-block;
	height:28px;
	line-height:26px;
	border-radius:4px;
	font-size:14px;
	margin:0 3px;
}
.ulNotClick{
	border:1px solid #CDCDCD;
	color:#000;
	background-color:#fff;
	cursor: pointer;
	padding:0 10px;
}
.ulNotClick:hover{
	border:1px solid #3399FE;
}
.ulClick{
	border:1px solid #3399FE;
	color:#fff;
	background-color:#3399FE;
	padding:0 10px;
	cursor: default;
}
.ulClick:hover{
	border:1px solid #3399FE;
}
.ulreadlyClick{
	cursor: default;
	padding:0;
}
#pageSizeAndpageNum{
	clear: both;
}


