.position-relative{
	position: relative;
	width:624px;
	height:112px;
	margin:0 auto;
}
.imgClass{
	width:624px;
	height:112px;
}
.imgDiv,.imgDivUpdate{
	text-align: center;
	margin-top:50px;
}
.imgDiv>h4:nth-of-type(2),.imgDiv .fileUpload,.imgDivUpdate>h4:nth-of-type(1){
	display: none;
}
.imgDivUpdate .fileUpload{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity: 0;
}
.buttonDiv,.buttonDivUpdate{
	width:624px;
	margin:10px auto;
	text-align: right;
	padding-right:10px;
}
.buttonDiv>button:nth-of-type(2),.buttonDiv>button:nth-of-type(3),.buttonDivUpdate>button:nth-of-type(1){
	display: none;
}

.noticejs-content{
	font-size:16px;
}
.noticejs-body{
	height:50px;
	line-height: 30px;	
}
