.section-botton-right{
	height:100%;
}
#form{
	width:330px;
	margin:0 auto;
}
.divImgHeader{
	height:150px;
}
.imgClass{
	height:150px;
}
.divImg{
	width:330px;
	overflow: hidden;
}
.position-relative{
	position: relative;
}
.position-absolute{
	position:absolute;
	top:0;
	left:0;
	width:68px;
	height:34px;
	opacity: 0;
}
#img{
	background-color:#fff;
	width:183px;
}
.inputClass,.textareaClass{
	width:250px;
	font-size:16px;
}
.textareaClass textarea{
	height: 90px;
	resize:none;
}
.textCenter{
	width:330px;
	text-align:center;
}
.textCenter>button{
	margin-right:10px;
}

.noticejs-content{
	font-size:16px;
}
.noticejs-body{
	height:50px;
	line-height: 30px;	
}

.errorInfo{
	color:red;
	font-size:10px;
}