.ulClass li a,.sectionTopMover li a{
	font-size:16px;
}
.address{
	padding-top:15px;
}
.mover a{
	color:#000000;
}
.click a{
	color:#FF9F00;
}
.section-botton-left{
	position: relative;
	width:200px;
}
.sortable-accordion{
	position: absolute;
	top:0;
	left:-20px;
}
.sortable-accordion>h3{
	font-size:16px;
}
.section-botton-right{
	width:700px;
	margin-top:0;
}
.inner .sortable li{
	margin:0;
	height:42px;
	line-height: 42px;
	position: relative;
}
.ui-state-default>a{
	font-size:15px;
	color:#fff;
	position: absolute;
	top:0;
	right:0;
	height:42px;
	line-height: 42px;
	width:100%;
	text-align: right;
	padding-right:40px;
}
.ui-state-default>a:hover{
	text-decoration: none;
}

#currentLocation>p{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}
#currentLocation>p>span{
	padding:0 5px;
}
#currentLocation>p>a{
	color:#2FA0EC;
}
#currentLocation>p>a:hover{
	text-decoration: underline;
}
