#verification{
	width:90px;
}
#verificationInfo{
	color:red;
	font-size:17px;
	cursor: pointer;
	display: none;
	margin-right:5px;
	font-style:normal;
}
#verificationInfo:hover{
	text-decoration: underline;
}
.disabled{
	display:none;
}
.read-only{
	background-color:#CDCDCD;
	border:1px solid #CDCDCD;
}
.read-only:hover{
	background-color:#CDCDCD;
	border:1px solid #CDCDCD;
	cursor: default;
}
.buttonHeader{
	padding-top:16px;
}