.section-botton{
	width:960px;
	box-sizing:border-box;
	margin:20px;
	padding:20px;
	background-color:#fff;
}
.section-botton table{
	padding:40px 0 60px 250px;
}
.buttonHeader input:first-of-type{
	margin-left:60px;
}
.button{
	margin-left:20px;
}

